<!DOCTYPE html>
<html ng-app="movie" ng-controller="detailController">

<head>
    <title>
      
    </title>
    <script src="stylesheet" href="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Datepicker - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
            $("#datepicker").datepicker("setDate", new Date());
        });
    </script>
</head>

<style>

    body{
         background-color:burlywood;
     }
.main-header{
    text-align: center;
    color: rgb(128, 0, 0);
    font-size: 36px;
    text-transform: uppercase;
    font-style: bold;
    margin-top:20px;
    
}
.row{
    margin-top: 50px;
}
.btn{
    background: rgb(128, 0, 0);
    color: white;
    padding: 15px;
    margin-left: 35%;
    
    width: 30%;   
   
    
    
}
.btnanh{
    
    
    padding: 15px;
    margin-left: 35%;
    margin-top:20px;
    font-size: 20px;
    
}
.form-group{
    color: rgb(128, 0, 0);
    font-size: 30px;
    
   
}
.img-fluid{
    margin-top:6% ;
}
footer{
    position: absolute;
    width: 96%;
    bottom:0;
    margin-left: 0;
}
 </style>

<body >
    <% include ../header.ejs %>
    <p id="id" ng-show="false"><%= id %></p>
    <div class="container-fluid">
        <div class="main-header">
            <h1><b>Thông tin bộ phim</b></h1>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <from>
                    <div class="form-group">
                        <img src="https://cinema-web-training.herokuapp.com/images/image.jpeg" class="img-fluid" alt="Responsive image">
                </from>
                <button style=" border: solid; color: rgb(128, 0, 0);height:60px;width: 150px"type="button" class="btnanh btn ">Tải ảnh lên</button>
            </div>
        </div>
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label  for="exampleInputName"><b>Tên phim: </b>{{thongtinphim.tenPhim}} </label>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1"><b>Thể loại phim:</b> {{thongtinphim.theLoai}} </label>
                </div>
                <div class="form-group date">
                        <span ng-non-bindable></span><b style="color:rgb(128, 0, 0);margin-top:50px" >Khởi Chiếu: </b><span>{{thongtinphim.phatHanh | date:'MM/dd/yyyy'}}</span><br>
                </div>

                <form class="form-group">
                    <div class="form-group">
                        <label  for="exampleFormControlTextarea1"><b>Mô tả: </b>{{thongtinphim.moTa}} </label>
                    </div>
                    <button style=" border: solid; color: rgb(128, 0, 0);height:60px;width: 150px"type="button" class="btnanh btn ">Trở về</button>
                    
                </form>
        </div>
        <div class="col-md-2"></div>

    </div>


    </div>

    <footer>
        <% include ../footer.ejs %>
    </footer>


</body>
<script src="/javascripts/movie/detail.js"></script>


</html>